@tailwind base;
@tailwind components;
@tailwind utilities;

/* customize the style sine there is a conflict between tailwindcss and markdown */
@layer base {
  article h1 {
    @apply text-2xl;
  }
  article h2 {
    @apply text-xl;
  }
  article h3 {
    @apply text-lg;
  }
  article ul {
    list-style-type: disc;
  }

  article ol {
    list-style-type: decimal-leading-zero;
  }
}

@media screen and (min-width: 768px) {
  body {
    background-color: #eee;
  }
}
